<h1>watchList</h1>
<div *ngIf="watchList.length > 0; else noStocksTemplate">
  <div *ngFor="let item of watchList" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ item.ticker }}</h6>
      <!-- You can add more item details here -->
    </div>
  </div>
</div>
<ng-template #noStocksTemplate>
  <div class="alert alert-warning" role="alert">
    There are no stocks in your watchlist.
  </div>
</ng-template>
